<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="HolidayShowContext" connectionString="Data Source=10.64.128.100,1401;Initial Catalog=HolidayShow;Persist Security Info=True;User ID=sa;Password=e&gt;Connect123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EfHolidayContext" connectionString="metadata=res://*/HolidayShow.csdl|res://*/HolidayShow.ssdl|res://*/HolidayShow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.64.128.100,1401;initial catalog=HolidayShow_Dev;user id=dev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>