<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="Key" value="Value" />
          <environmentVariable name="DBUSER" value="dev" />
          <environmentVariable name="DBNAME" value="HolidayShow_Dev" />
          <environmentVariable name="DBPASS" value="dev123" />
          <environmentVariable name="DBSERVER" value="10.64.128.100,1401" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>