 .dimmed {
    /* content: " "; */
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .centerMiddleContent{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }

  .visibile{
    visibility: visible;
  }

  .hidden{
    visibility: hidden;
  }

  .child {
    width: 200px;  /* Or whatever */
  }

  .quickSelectContainer{
    margin:30px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
  
    padding:5px; /* this */
  }

  .quickSelect{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
